.wordDetailsContainer {
  /* fade in */
  /* animation: fadeIn ease 20s; */
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: -25px;
}

.englishDefinition {
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 0;
  outline: 0;
  line-height: 0.01;
  /* margin-bottom: 10px; */
}

.pinyinRedClass {
  /* dark red */
  color: #b00000;
  font-weight: 800;
  border: 0;
  outline: 0;
  line-height: 0.01;
  /* margin-bottom: 60px; */
}
.pinyinOrangeClass {
  color: #ffa162;
  font-weight: 800;
  border: 0;
  outline: 0;
  line-height: 0.01;
  margin-bottom: 60px;
}
.pinyinGreenClass {
  color: #00ff00;
  font-weight: 800;
  border: 0;
  outline: 0;
  line-height: 0.01;
  margin-bottom: 60px;
}
.pinyinBlueClass {
  color: #00a6ff;
  font-weight: 800;
  border: 0;
  outline: 0;
  line-height: 0.01;
  margin-bottom: 60px;
}
