.pinyinRedClass {
  /* dark red */
  color: #b00000;
  font-weight: 800;
}
.pinyinOrangeClass {
  color: #ffa162;
  font-weight: 800;
}
.pinyinGreenClass {
  color: #00ff00;
  font-weight: 800;
}
.pinyinBlueClass {
  color: #0000ff;
  font-weight: 800;
}

/* use notosans font */
