.englishInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* ------------------- */
}
.englishTitleClass {
  font-size: 1rem;
  color: rgb(167, 165, 165);
  margin: 0;
  text-align: center;
}

.englishAuthorClass {
  font-size: 1rem;
  color: rgb(167, 165, 165);
  margin: 0;
}

.englishPoemClass {
  font-weight: 400;
  font-size: 25px;
  margin-left: 9.2px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  color: rgb(255, 255, 255);
  max-width: 770px;
  text-align: left;
  /* line-height: 40px; */
}

.englishLineBreak {
  display: block;
  margin-bottom: 20px;
  background-color: blue;
}
