.loader {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clicked {
  /* background turns selection blue */
  background-color: rgb(177, 199, 255);
}

.chineseInfoContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* margin-top: 35%; */
  /* text-align: center; */
}

/* ------------------- */

.chineseTitle {
  font-size: 1.3rem;
  color: rgb(167, 165, 165);
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.chineseAuthor {
  font-size: 1.3rem;
  color: rgb(167, 165, 165);
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.chinesePoem {
  font-weight: 400;
  font-size: 2.1rem;
  /* margin-left: 14.9px; */
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  /* background-color: red; */
}

@media screen and (min-width: 750px) {
  .chineseInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
  }
}

/* ---------------------------- */
/* These buttons should eventually be componentized  */

.traditionalOff {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  margin-top: 50px;
  cursor: pointer;
}

/*
* FIX - should not be absolute
*/
.englishButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 80px;
  margin-top: 50px;
  cursor: pointer;
}

.unsetWord {
  opacity: 0;
  background-color: red;
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 98%;
  height: 100%;
}
