.chineseInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35%;
}

/* ------------------- */

.chineseTitle {
  font-size: 1.3rem;
  color: rgb(167, 165, 165);
  margin: auto;
}

.chineseAuthor {
  font-size: 1.3rem;
  color: rgb(167, 165, 165);
  margin: auto;
}

.chinesePoem {
  font-weight: 400;
  font-size: 2rem;
  margin-left: 13px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

  @media screen and (min-width: 750px) {
  .chineseInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
  }
} 

/* ---------------------------- */
/* These buttons should eventually be componentized  */
.characterButton {
  color: #000000;
  outline: none;
  border: none;
  background-color: rgb(189, 168, 142);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 0.975rem;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  margin-top: 52.5px;
}

/*
* FIX - should not be absolute
*/
.englishButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  margin-top: 50px;
}
